<div class="layout-topbar"> 
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/light.png" alt="logo">
        <span>STREETMAN</span>
    </a>
  
    <button #menubutton 
            class="p-link layout-menu-button layout-topbar-button" 
            (click)="layoutService.onMenuToggle()"
            pTooltip="Toggle Menu" 
            tooltipPosition="bottom">
        <i class="pi pi-bars"></i>
    </button>
  
    <button #topbarmenubutton 
            class="p-link layout-topbar-menu-button layout-topbar-button" 
            (click)="layoutService.showProfileSidebar()"
            pTooltip="Profile Options" 
            tooltipPosition="bottom">
        <i class="pi pi-ellipsis-v"></i>
    </button>
  
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- Always show Profile -->
        
        <!-- Show Analytics Page for ADMIN only -->
        <ng-container *ngIf="userRole === 'ADMIN'">
            <button class="p-link layout-topbar-button" [routerLink]="'/analytics'" 
                    pTooltip="Analytics Page" 
                    tooltipPosition="bottom">
                <i class="pi pi-chart-bar"></i>
                <span>Analytics</span>
            </button>
        </ng-container>
  
        <!-- Show User Profile for USER only -->
        <ng-container *ngIf="userRole === 'USER'">
            <button class="p-link layout-topbar-button" [routerLink]="'/user-profile'" 
                    pTooltip="User Profile" 
                    tooltipPosition="bottom">
                <i class="pi pi-user-edit"></i>
                <span>User Profile</span>
            </button>
        </ng-container>
  
        <!-- Logout Button -->
        <button class="p-link layout-topbar-button" (click)="logout()" 
                pTooltip="Logout" 
                tooltipPosition="bottom">
            <i class="pi pi-sign-out"></i>
            <span>Logout</span>
        </button>
    </div>
</div>
