<p-tabView>
  <p-tabPanel header="Page Views">
    <div class="grid">
      <div class="col-12 lg:col-6">
        <div class="card">
          <h5>Page Views Over Time</h5>
          
          <!-- URL Filter Dropdown -->
          <p-dropdown 
            [options]="urls" 
            [(ngModel)]="selectedUrl" 
            placeholder="Select URL" 
            (onChange)="onUrlFilterChange()">
          </p-dropdown>
      
          <!-- Line Chart for Page Views Over Time -->
          <p-chart type="line" [data]="pageViewsOverTimeData" [options]="pageViewsOverTimeOptions"></p-chart>
        </div>
      </div>
      

<!-- Top Pages by Views (Bar Chart) -->
<div class="col-12 lg:col-6">
  <div class="card">
    <h5>Top  Pages by Views</h5>
    <p-chart type="bar" [data]="topPagesByViewsData" [options]="topPagesByViewsOptions"></p-chart>
  </div>
</div>
</div>
<div class="card">
  <h5>Page View Statistics</h5>
  <p-table [value]="pageViewStats" [paginator]="true" [rows]="5" responsiveLayout="scroll" styleClass="p-datatable-striped p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th>Page Path</th>
        <th pSortableColumn="views">Views <p-sortIcon field="views"></p-sortIcon></th>
        <th pSortableColumn="users">Users <p-sortIcon field="users"></p-sortIcon></th>
        <th pSortableColumn="viewsPerUser">Views per User <p-sortIcon field="viewsPerUser"></p-sortIcon></th>
        <th pSortableColumn="totalTimeSpentMinutes">Time On Page (in min)<p-sortIcon field="totalTimeSpentMinutes"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stat>
      <tr>
        <td>{{ stat.pagePath }}</td>
        <td>{{ stat.views }}</td>
        <td>{{ stat.users }}</td>
        <td>{{ stat.viewsPerUser }}</td>
        <td>{{stat.totalTimeSpentMinutes}}
        
      </tr>
    </ng-template>
  </p-table>
</div>

</p-tabPanel>
    <p-tabPanel header="Events">
     
      <div class="card">
        <h5>Top 5 Events</h5>
      
        <!-- URL Filter Dropdown -->
        <p-dropdown 
          [options]="urls" 
          [(ngModel)]="selectedUrl" 
          placeholder="Select URL" 
          (onChange)="onUrlFilterChange1()">
        </p-dropdown>
      
        <!-- Horizontal Bar Chart for Top Events -->
        <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
      </div>
      
  
      
      <div class="card">
        <h5>Event Details</h5>
        <p-table [value]="eventDetails" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" responsiveLayout="scroll" styleClass="p-datatable-striped p-datatable-sm">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="eventName">Event Name <p-sortIcon field="eventName"></p-sortIcon></th>
              <th pSortableColumn="eventCount">Event Count <p-sortIcon field="eventCount"></p-sortIcon></th>
              <th pSortableColumn="totalUsers">Total Users <p-sortIcon field="totalUsers"></p-sortIcon></th>
              <th pSortableColumn="eventCountPerUser">Event Count per User <p-sortIcon field="eventCountPerUser"></p-sortIcon></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-event>
            <tr>
              <td>{{ event.eventName }}</td>
              <td>{{ event.eventCount }}</td>
              <td>{{ event.totalUsers }}</td>
              <td>{{ event.eventCountPerUser }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">No events found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      
      </p-tabPanel>

   <!-- Analytics Data Tab -->
   <p-tabPanel header="Sessions">
    <h3>Sessions</h3>

    <!-- Date Picker for User -->
    <div class="date-picker-container">
      <p-calendar [(ngModel)]="startDate" [showTime]="true" hourFormat="24" placeholder="Start Date"></p-calendar>
      <p-calendar [(ngModel)]="endDate" [showTime]="true" hourFormat="24" placeholder="End Date"></p-calendar>
      
      
      <button pButton label="Fetch Analytics" icon="pi pi-search" (click)="fetchAnalyticsData()"></button>
    </div>

    <div class="grid">
      <!-- Total Sessions -->
      <div class="col-12 lg:col-4 xl:col-4">
        <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3">Total Sessions</span>
              <div class="text-900 font-medium text-xl">{{ totalSessions }}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
              <i class="pi pi-calendar text-blue-500 text-xl"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Average Session Duration -->
      <div class="col-12 lg:col-4 xl:col-4">
        <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3">Average Session Duration</span>
              <div class="text-900 font-medium text-xl">{{ averageSessionDuration }} minutes</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
              <i class="pi pi-clock text-orange-500 text-xl"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Average Sessions Per User -->
      <div class="col-12 lg:col-4 xl:col-4">
        <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3">Average Sessions per User</span>
              <div class="text-900 font-medium text-xl">{{ averageSessionsPerUser }}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
              <i class="pi pi-users text-cyan-500 text-xl"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

   
    <div class="card">
      <h5>Time Spent on Page</h5>
      <div id="pieChart" style="width: 65vw; height: 500px;"></div> <!-- Increased height -->
    </div>
    
    
    
    
  </p-tabPanel>

  <p-tabPanel header="Path Analysis">
    <h3>Path Analysis</h3>
    <div class="card">
      <p-chart type="sankey" [data]="pathAnalysisData" [options]="pathAnalysisOptions"></p-chart>
    </div>
  </p-tabPanel>