.dimming-schedules-container {
    padding: 1em;

    h2 {
        text-align: center;
    }

    .header-container {
        display: flex;
        justify-content: flex-end; 
        margin-bottom: 1em; 
        margin-right: 1em;
    }

    .add-button {
        margin-bottom: 1em;
    }

    .form-group {
        margin-bottom: 1em;
    }

    .view-button,
    .edit-button,
    .delete-button {
        margin-right: 0.5em;
    }

    .save-button {
        display: block;
        margin: 1em auto;
    }

   
    table.p-datatable {
        width: 85%; 
        max-width: 800px; 
        margin: 0 auto;
        border-collapse: collapse;

        th, td {
            padding: 0.5em;
            text-align: left; 
        }

        th {
            background-color: #f4f4f4; 
            border-bottom: 2px solid #ccc; 
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    }
}

  